<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i0.wp.com/www.barbara-stanwyck.com/wp-content/uploads/2013/07/Lady-Eve1.jpg?resize=1024%2C576&ssl=1);">
  <div class="container">
    <h1>Movies by genre</h1>
    <p>Welcome to your personalized lists</p>
  </div>
</div>


<h1></h1>
<div class="cards">
  <% @lists.each do |list|%>
    <div class="card-category mt-16" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? (cl_image_path list.photo.key) : "https://imgix.ranker.com/user_node_img/91/1804209/original/1804209-photo-u8?auto=format&q=60&fit=fill&fm=pjpg&dpr=2&crop=faces&bg=fff&h=300&w=300" %>)">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
  <a class="btn btn-ghost align-items-center card-category" href="/lists/new">Add a list</a>
</div>
</div>
