.btn-ghost {
  color: #4A4A4A;
  border-top: 2px solid #4A4A4A;
  border-bottom: 2px solid #4A4A4A;
  padding: 8px 24px;
  font-weight: lighter;
  opacity: 0.6;
  transition: 0.6s ease;
}

.btn-ghost:hover {
  opacity: 1;
  border: 2px solid #4A4A4A;
  border-radius: 10px;
}
